%clearfix {
  &::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

%text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

%horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

%center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%fullscreen {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
